<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Nappo</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
	<div class="container">
		<div class="logo-container">
			<img src="./img/tipo.svg" alt="Nappo" class="logo">
		</div>
		<div class="em-breve"> em breve </div>
		<div class="email"><a class="emaillink" href="mailto:contato@nappo.app"> contato@nappo.app </a></div>
		<div class="email">
			<a class="emaillink" href="tel:40072616"> 4007-2616 </a>
		</div>
	</div>
</body>
</html>